/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-color:#064833;
  --white-color:#ffff;
  --gold-color:#CEA35D;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Queen of Clubs", sans-serif;
  position: relative;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 2fr);
}

.body-lock {
  overflow-y: hidden;
}

header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 40px;
}
header .container {
  justify-content: center;
}
header nav {
  gap: 32px;
}
header ul {
  align-items: center;
  gap: 24px;
}
header ul li a {
  color: var(--white, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
header .logo {
  height: 140px;
  width: 140px;
}
header .nav-burger {
  display: none;
}

.header-show {
  background: var(--main-color);
  height: 100vh;
}
.header-show .nav {
  display: flex;
  flex-direction: column;
}
.header-show .nav .logo-href {
  display: none;
}
.header-show .nav ul {
  flex-direction: column;
  align-items: flex-start;
}
.header-show .nav ul a {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.logo-mob {
  display: none;
}
.logo-mob img {
  width: 80px;
  height: 80px;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
}
.hero .container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__video {
  width: 80%;
}
.hero__video .video {
  width: 100%;
}

.fancybox-content {
  background: none;
}

.fancybox-slide--html .fancybox-close-small {
  color: #fff;
}

.about {
  position: relative;
  padding: 96px 0px;
  background-image: url("/img/bg-2.png");
  overflow: hidden;
}
.about::before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: -10%;
  z-index: 10;
  width: 545px;
  height: 574px;
  transform: rotate(35deg);
  background-image: url('data:image/svg+xml;utf8,<svg width="318" height="484" opacity="0.1" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Vector" d="M22.1472 0.172115C23.4078 0.438114 24.8598 1.15788 25.8331 2.03411L26.6948 2.80082L27.3809 2.11235C28.6255 0.876232 30.8115 0 32.7262 0C34.7527 0 38.1514 1.26741 39.6672 2.61305C43.3212 5.83633 41.199 11.5006 33.3964 19.3397C31.6093 21.1548 31.2423 21.5772 31.6891 21.3895C31.9923 21.2643 33.1571 20.7636 34.258 20.2942C36.8111 19.1989 40.0502 18.1193 42.2202 17.6655C44.4382 17.1804 47.9007 17.1335 49.2251 17.5716C51.8259 18.4322 53.0227 20.2942 53.1822 23.7365C53.3737 27.4762 52.0174 30.0892 49.1772 31.5444C48.5549 31.8573 48.0283 32.139 47.9964 32.1546C47.9645 32.1859 48.0922 32.4832 48.2677 32.8431C49.1453 34.5017 49.257 36.6453 48.5708 38.4604C47.6613 40.8857 44.9966 43.5769 42.7947 44.2811C41.9649 44.5471 40.2257 44.5158 39.3641 44.2028C35.8218 42.9824 31.9284 38.1474 28.418 30.6682C27.9234 29.5885 27.4288 28.634 27.349 28.5558C27.1575 28.3837 27.3011 31.9669 27.5564 34.0323C28.1468 38.8046 29.9498 44.2185 32.2795 48.2711C33.3166 50.0705 34.9601 52.4801 35.8537 53.5285C36.2047 53.9353 36.476 54.4047 36.476 54.5924C36.476 55.1557 35.6782 55.8755 34.9282 55.9694C34.274 56.0476 34.274 56.0476 33.5241 55.0619C32.2954 53.4189 31.0508 51.3535 29.9179 49.0534C28.5297 46.2526 27.8277 44.328 27.0618 41.402C26.1842 37.991 25.881 35.5813 25.865 31.8104C25.865 30.0736 25.8172 28.6966 25.7693 28.7592C25.7214 28.8218 25.2268 29.8076 24.6843 30.9655C22.5461 35.4874 20.1527 39.1645 17.9028 41.3707C15.637 43.6239 14.0733 44.4532 12.0788 44.4532C10.164 44.4532 8.79179 43.7334 6.84512 41.715C5.56862 40.385 4.72293 38.9924 4.40381 37.678C4.05277 36.129 4.29211 34.1418 5.01015 32.7649L5.34523 32.1077L4.45168 31.7478C3.41452 31.341 1.72315 29.8702 1.10085 28.8375C0.175389 27.2728 -0.191605 25.1604 0.0956082 22.9542C0.350909 20.9357 0.765772 19.9656 1.83484 18.9172C3.22304 17.5403 4.05277 17.29 7.0366 17.29C8.74392 17.29 9.82895 17.3838 10.7863 17.5873C12.7649 17.9941 16.9295 19.3867 19.4825 20.4976C20.7111 21.0139 21.8281 21.499 21.9557 21.5459C22.0834 21.6085 21.0462 20.4819 19.6421 19.0737C14.1691 13.5503 11.7118 9.40386 11.9352 6.03975C12.0947 3.70834 13.5787 2.0967 16.7061 0.84494C18.6528 0.0625877 20.5037 -0.156471 22.1472 0.172115Z" fill="%23064833"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}
.about__info {
  width: 50%;
}
.about__info h2 {
  color: var(--main-color);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.about__info h2:before {
  content: "";
  display: inline-block;
  width: 53.2px;
  height: 56px;
  background-image: url('data:image/svg+xml;utf8,<svg width="54" height="56" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Vector" d="M22.1472 0.172115C23.4078 0.438114 24.8598 1.15788 25.8331 2.03411L26.6948 2.80082L27.3809 2.11235C28.6255 0.876232 30.8115 0 32.7262 0C34.7527 0 38.1514 1.26741 39.6672 2.61305C43.3212 5.83633 41.199 11.5006 33.3964 19.3397C31.6093 21.1548 31.2423 21.5772 31.6891 21.3895C31.9923 21.2643 33.1571 20.7636 34.258 20.2942C36.8111 19.1989 40.0502 18.1193 42.2202 17.6655C44.4382 17.1804 47.9007 17.1335 49.2251 17.5716C51.8259 18.4322 53.0227 20.2942 53.1822 23.7365C53.3737 27.4762 52.0174 30.0892 49.1772 31.5444C48.5549 31.8573 48.0283 32.139 47.9964 32.1546C47.9645 32.1859 48.0922 32.4832 48.2677 32.8431C49.1453 34.5017 49.257 36.6453 48.5708 38.4604C47.6613 40.8857 44.9966 43.5769 42.7947 44.2811C41.9649 44.5471 40.2257 44.5158 39.3641 44.2028C35.8218 42.9824 31.9284 38.1474 28.418 30.6682C27.9234 29.5885 27.4288 28.634 27.349 28.5558C27.1575 28.3837 27.3011 31.9669 27.5564 34.0323C28.1468 38.8046 29.9498 44.2185 32.2795 48.2711C33.3166 50.0705 34.9601 52.4801 35.8537 53.5285C36.2047 53.9353 36.476 54.4047 36.476 54.5924C36.476 55.1557 35.6782 55.8755 34.9282 55.9694C34.274 56.0476 34.274 56.0476 33.5241 55.0619C32.2954 53.4189 31.0508 51.3535 29.9179 49.0534C28.5297 46.2526 27.8277 44.328 27.0618 41.402C26.1842 37.991 25.881 35.5813 25.865 31.8104C25.865 30.0736 25.8172 28.6966 25.7693 28.7592C25.7214 28.8218 25.2268 29.8076 24.6843 30.9655C22.5461 35.4874 20.1527 39.1645 17.9028 41.3707C15.637 43.6239 14.0733 44.4532 12.0788 44.4532C10.164 44.4532 8.79179 43.7334 6.84512 41.715C5.56862 40.385 4.72293 38.9924 4.40381 37.678C4.05277 36.129 4.29211 34.1418 5.01015 32.7649L5.34523 32.1077L4.45168 31.7478C3.41452 31.341 1.72315 29.8702 1.10085 28.8375C0.175389 27.2728 -0.191605 25.1604 0.0956082 22.9542C0.350909 20.9357 0.765772 19.9656 1.83484 18.9172C3.22304 17.5403 4.05277 17.29 7.0366 17.29C8.74392 17.29 9.82895 17.3838 10.7863 17.5873C12.7649 17.9941 16.9295 19.3867 19.4825 20.4976C20.7111 21.0139 21.8281 21.499 21.9557 21.5459C22.0834 21.6085 21.0462 20.4819 19.6421 19.0737C14.1691 13.5503 11.7118 9.40386 11.9352 6.03975C12.0947 3.70834 13.5787 2.0967 16.7061 0.84494C18.6528 0.0625877 20.5037 -0.156471 22.1472 0.172115Z" fill="%23064833"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}
.about__text {
  width: 90%;
}
.about__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
.about__img img {
  height: 100%;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}
.hidden div.red {
  background: red;
}

.role {
  padding: 120px 0px;
  background: var(--main-color);
}
.role .container {
  justify-content: center;
}
.role hr {
  width: 100%;
  margin: 0px;
  height: 2px;
  border: none;
  background: var(--gold-color);
}
.role .line-1 {
  margin-bottom: 2px;
}
.role h2 {
  color: var(--gold-color);
  margin-bottom: 16px;
}
.role__wrapp {
  width: 50%;
  flex-direction: column;
  text-align: center;
}
.role__wrapp img {
  height: 380px;
  object-fit: contain;
}
.role__text {
  padding: 24px 0px;
}
.role__text p {
  color: var(--white-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.drink {
  padding: 170px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.drink__box {
  width: 50%;
  background: white;
  padding: 40px;
  background-image: url("/img/bg-2.png");
  background-repeat: no-repeat;
}
.drink__box h2 {
  color: var(--gold-color);
  margin-bottom: 16px;
  margin-top: 16px;
}
.drink__box hr {
  margin: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="560" height="46" viewBox="0 0 560 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.989011 26.4L0 26.3333V31.3333H1.51884C3.53218 31.3333 5.22763 30.8333 6.28729 29.9333C6.78179 29.5 8.30063 27.5 9.7135 25.4667C11.0911 23.4667 12.6805 21.4667 13.2457 21.0667C14.4113 20.2 16.7779 20.0667 17.9435 20.8667C18.3673 21.1333 20.0628 23.0667 21.7229 25.1667C25.0785 29.4 26.2794 30.5 28.1868 31C29.9882 31.4667 30.6947 31.4 32.3548 30.7C33.9796 30 35.4278 28.4 38.1476 24.4C40.2316 21.2667 41.3972 20.5 43.4105 20.8333C44.4702 21 45.5652 21.8667 49.6272 25.8C52.3469 28.4333 55.102 30.8333 55.7732 31.1667C56.6562 31.5667 57.5039 31.7 58.8815 31.6C61.1774 31.4 61.9898 30.7667 63.6146 27.9C65.4513 24.6 66.7936 22.8 67.8532 22.2C69.1601 21.4667 71.6327 21.5333 73.0102 22.3C73.9992 22.8667 74.8116 23.7667 78.8383 28.4667C79.4741 29.2333 80.7457 30.1 81.876 30.6C83.6774 31.3667 83.96 31.4 85.938 31.0667C88.6225 30.6 90.106 29.5 92.0487 26.6333C92.8611 25.4667 94.0267 23.9333 94.6625 23.2333C95.7221 22.1 95.9694 22 97.6295 22C100.385 22.0333 101.974 22.9 105.118 26.1333C108.226 29.3333 109.816 30.5333 111.758 31.0333C114.125 31.6333 114.831 31.2333 119.812 26.4667L124.509 22H128.148L131.397 25.5333C135.283 29.7333 136.66 30.5 139.91 30.2667C142.453 30.1 143.407 29.4333 147.716 24.8C152.979 19.2 153.685 19.2333 159.831 25.1667C162.445 27.7 164.564 29.5 165.377 29.8333C167.037 30.4667 169.969 30.5 171.24 29.8667C171.77 29.6 173.713 27.8667 175.514 26C179.223 22.2333 180.106 21.6667 182.402 21.6667C183.885 21.6667 184.097 21.7667 184.874 22.9667C185.369 23.6667 187.135 25.6333 188.83 27.3333L191.939 30.4L195.188 30.2667L198.438 30.1667L202.288 26.6C205.608 23.5667 206.456 22.9667 208.046 22.5333C211.966 21.4333 212.072 21.5 216.558 26.1667L220.549 30.3333H223.022C226.307 30.3333 228.002 29.5333 230.404 26.8667C233.301 23.6667 236.02 21.3333 237.363 20.9667C239.199 20.4333 240.294 21 242.025 23.3667C247.535 30.8 249.16 31.9667 252.834 31.0333C254.847 30.5 256.013 29.4667 259.439 25.1667C261.099 23.0667 262.794 21.1333 263.218 20.8667C264.349 20.1 266.75 20.2 267.845 21C268.34 21.3667 269.717 23.1667 270.918 25.0333C272.119 26.8667 273.568 28.8667 274.097 29.4667C275.122 30.5667 277.1 31.3333 278.831 31.3333H279.749V26.5C279.396 26.4 277.806 26.2 276.923 26C275.616 25.7 274.804 25.1 272.155 22.5C268.305 18.7333 267.104 18 264.737 18C262.476 18 261.664 18.5 257.531 22.3333C253.858 25.7333 252.198 26.6333 249.513 26.6667C247.429 26.6667 246.617 26.0333 244.78 22.9C244.144 21.8667 242.979 20.3 242.166 19.4333C240.718 17.9333 240.577 17.8667 238.352 17.7333L236.02 17.6L231.499 21.5C226.625 25.7 225.035 26.6667 222.987 26.6667C221.75 26.6667 221.327 26.3667 217.653 22.9L213.697 19.1667H210.765C207.445 19.1667 206.668 19.5 202.959 22.5667C196.99 27.5667 194.553 27.4667 188.089 22C184.627 19.0667 182.79 18.2 180.671 18.5C178.87 18.7333 177.386 19.7 173.536 23.1C170.181 26.0333 169.05 26.6667 167.002 26.6667C165.553 26.6667 165.377 26.5333 161.951 23.2C158.242 19.5667 157.076 18.8333 154.78 18.4667C152.732 18.1667 150.082 19.4333 146.903 22.2333C142.206 26.3667 141.746 26.6667 140.228 26.6667C137.967 26.6667 137.049 26.1333 133.163 22.5C130.196 19.7667 129.137 19 127.9 18.6667C124.58 17.8333 122.496 18.9 118.717 23.3C116.032 26.4333 114.655 27.3333 112.5 27.3333C111.37 27.3333 110.84 27 107.802 24.2333C100.632 17.7667 100.95 18 98.6185 18C95.9341 18 94.7331 18.7333 92.3666 21.8C89.117 26.0333 87.9513 27.0333 86.1146 27.2333C83.6421 27.5 81.6641 26.4333 77.8846 22.8C74.1052 19.2 72.9396 18.5333 70.2198 18.5333C67.7119 18.5 66.8642 19.0333 64.5683 22.2C63.6499 23.4667 62.343 25 61.6366 25.6C60.5769 26.5 60.1531 26.6667 58.6342 26.6667C57.6452 26.6667 56.303 26.4667 55.6319 26.2C54.9608 25.9333 52.3469 23.9 49.7685 21.6667L45.106 17.6L42.8101 17.7333C40.5848 17.8667 40.4435 17.9333 38.9953 19.4333C38.1829 20.3 37.0173 21.8667 36.3815 22.9C34.5447 26.0333 33.7323 26.6667 31.6484 26.6667C28.9639 26.6333 27.2331 25.7 23.6303 22.3333C19.6743 18.6 18.7206 18 16.4953 18C13.8815 18 12.7865 18.6333 9.36028 22.1333C7.62951 23.9333 5.79278 25.6 5.29827 25.8333C4.34458 26.3 2.7551 26.5 0.989011 26.4Z" fill="%23CEA35D"/><path d="M280.489 26.4L279.5 26.3333V31.3333H281.019C283.032 31.3333 284.728 30.8333 285.787 29.9333C286.282 29.5 287.801 27.5 289.214 25.4667C290.591 23.4667 292.181 21.4667 292.746 21.0667C293.911 20.2 296.278 20.0667 297.443 20.8667C297.867 21.1333 299.563 23.0667 301.223 25.1667C304.578 29.4 305.779 30.5 307.687 31C309.488 31.4667 310.195 31.4 311.855 30.7C313.48 30 314.928 28.4 317.648 24.4C319.732 21.2667 320.897 20.5 322.911 20.8333C323.97 21 325.065 21.8667 329.127 25.8C331.847 28.4333 334.602 30.8333 335.273 31.1667C336.156 31.5667 337.004 31.7 338.381 31.6C340.677 31.4 341.49 30.7667 343.115 27.9C344.951 24.6 346.294 22.8 347.353 22.2C348.66 21.4667 351.133 21.5333 352.51 22.3C353.499 22.8667 354.312 23.7667 358.338 28.4667C358.974 29.2333 360.246 30.1 361.376 30.6C363.177 31.3667 363.46 31.4 365.438 31.0667C368.122 30.6 369.606 29.5 371.549 26.6333C372.361 25.4667 373.527 23.9333 374.162 23.2333C375.222 22.1 375.469 22 377.13 22C379.885 22.0333 381.474 22.9 384.618 26.1333C387.726 29.3333 389.316 30.5333 391.258 31.0333C393.625 31.6333 394.331 31.2333 399.312 26.4667L404.009 22H407.648L410.897 25.5333C414.783 29.7333 416.16 30.5 419.41 30.2667C421.953 30.1 422.907 29.4333 427.216 24.8C432.479 19.2 433.185 19.2333 439.331 25.1667C441.945 27.7 444.064 29.5 444.877 29.8333C446.537 30.4667 449.469 30.5 450.74 29.8667C451.27 29.6 453.213 27.8667 455.014 26C458.723 22.2333 459.606 21.6667 461.902 21.6667C463.385 21.6667 463.597 21.7667 464.374 22.9667C464.869 23.6667 466.635 25.6333 468.33 27.3333L471.439 30.4L474.688 30.2667L477.938 30.1667L481.788 26.6C485.108 23.5667 485.956 22.9667 487.546 22.5333C491.466 21.4333 491.572 21.5 496.058 26.1667L500.049 30.3333H502.522C505.807 30.3333 507.502 29.5333 509.904 26.8667C512.801 23.6667 515.52 21.3333 516.863 20.9667C518.699 20.4333 519.794 21 521.525 23.3667C527.035 30.8 528.66 31.9667 532.334 31.0333C534.347 30.5 535.513 29.4667 538.939 25.1667C540.599 23.0667 542.294 21.1333 542.718 20.8667C543.849 20.1 546.25 20.2 547.345 21C547.84 21.3667 549.217 23.1667 550.418 25.0333C551.619 26.8667 553.068 28.8667 553.597 29.4667C554.622 30.5667 556.6 31.3333 558.331 31.3333H559.249V26.5C558.896 26.4 557.306 26.2 556.423 26C555.116 25.7 554.304 25.1 551.655 22.5C547.805 18.7333 546.604 18 544.237 18C541.976 18 541.164 18.5 537.031 22.3333C533.358 25.7333 531.698 26.6333 529.013 26.6667C526.929 26.6667 526.117 26.0333 524.28 22.9C523.644 21.8667 522.479 20.3 521.666 19.4333C520.218 17.9333 520.077 17.8667 517.852 17.7333L515.52 17.6L510.999 21.5C506.125 25.7 504.535 26.6667 502.487 26.6667C501.25 26.6667 500.827 26.3667 497.153 22.9L493.197 19.1667H490.265C486.945 19.1667 486.168 19.5 482.459 22.5667C476.49 27.5667 474.053 27.4667 467.589 22C464.127 19.0667 462.29 18.2 460.171 18.5C458.37 18.7333 456.886 19.7 453.036 23.1C449.681 26.0333 448.55 26.6667 446.502 26.6667C445.053 26.6667 444.877 26.5333 441.451 23.2C437.742 19.5667 436.576 18.8333 434.28 18.4667C432.232 18.1667 429.582 19.4333 426.403 22.2333C421.706 26.3667 421.246 26.6667 419.728 26.6667C417.467 26.6667 416.549 26.1333 412.663 22.5C409.696 19.7667 408.637 19 407.4 18.6667C404.08 17.8333 401.996 18.9 398.217 23.3C395.532 26.4333 394.155 27.3333 392 27.3333C390.87 27.3333 390.34 27 387.302 24.2333C380.132 17.7667 380.45 18 378.119 18C375.434 18 374.233 18.7333 371.867 21.8C368.617 26.0333 367.451 27.0333 365.615 27.2333C363.142 27.5 361.164 26.4333 357.385 22.8C353.605 19.2 352.44 18.5333 349.72 18.5333C347.212 18.5 346.364 19.0333 344.068 22.2C343.15 23.4667 341.843 25 341.137 25.6C340.077 26.5 339.653 26.6667 338.134 26.6667C337.145 26.6667 335.803 26.4667 335.132 26.2C334.461 25.9333 331.847 23.9 329.268 21.6667L324.606 17.6L322.31 17.7333C320.085 17.8667 319.943 17.9333 318.495 19.4333C317.683 20.3 316.517 21.8667 315.881 22.9C314.045 26.0333 313.232 26.6667 311.148 26.6667C308.464 26.6333 306.733 25.7 303.13 22.3333C299.174 18.6 298.221 18 295.995 18C293.381 18 292.287 18.6333 288.86 22.1333C287.13 23.9333 285.293 25.6 284.798 25.8333C283.845 26.3 282.255 26.5 280.489 26.4Z" fill="%23CEA35D"/></svg>');
  background-repeat: repeat;
  background-size: contain;
  height: 46px;
  border: 0;
}
.drink__box p {
  margin-bottom: 16px;
}

.popular {
  padding-top: 120px;
  text-align: center;
  background: var(--main-color);
}
.popular h2 {
  color: var(--gold-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}
.popular h2:before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 44px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="44" viewBox="0 0 42 44" fill="none">  <path d="M17.4846 0.135235C18.4798 0.344234 19.6261 0.909767 20.3946 1.59824L21.0748 2.20065L21.6165 1.6597C22.5991 0.688469 24.3249 0 25.8365 0C27.4363 0 30.1195 0.995819 31.3162 2.05311C34.201 4.58569 32.5256 9.03615 26.3656 15.1955C24.9547 16.6216 24.665 16.9535 25.0177 16.806C25.257 16.7077 26.1766 16.3143 27.0458 15.9454C29.0614 15.0848 31.6186 14.2366 33.3318 13.88C35.0828 13.4989 37.8163 13.462 38.8619 13.8063C40.9152 14.4824 41.86 15.9454 41.986 18.6501C42.1371 21.5884 41.0664 23.6415 38.8241 24.7849C38.3328 25.0308 37.9171 25.2521 37.8919 25.2643C37.8667 25.2889 37.9675 25.5225 38.1061 25.8053C38.7989 27.1085 38.8871 28.7928 38.3454 30.2189C37.6274 32.1244 35.5237 34.239 33.7853 34.7923C33.1302 35.0013 31.7571 34.9767 31.0769 34.7308C28.2803 33.7719 25.2067 29.973 22.4353 24.0964C22.0448 23.2481 21.6543 22.4982 21.5913 22.4367C21.4401 22.3015 21.5535 25.1168 21.7551 26.7396C22.2211 30.4893 23.6446 34.7431 25.4838 37.9273C26.3026 39.3411 27.6001 41.2344 28.3055 42.0581C28.5827 42.3777 28.7968 42.7465 28.7968 42.8941C28.7968 43.3367 28.167 43.9022 27.5749 43.9759C27.0584 44.0374 27.0584 44.0374 26.4664 43.2629C25.4964 41.972 24.5138 40.3492 23.6194 38.542C22.5235 36.3413 21.9692 34.8291 21.3645 32.5302C20.6717 29.85 20.4324 27.9568 20.4198 24.9939C20.4198 23.6292 20.382 22.5474 20.3442 22.5965C20.3064 22.6457 19.9159 23.4202 19.4876 24.33C17.7996 27.883 15.91 30.7721 14.1338 32.5056C12.345 34.2759 11.1105 34.9275 9.53589 34.9275C8.02424 34.9275 6.94089 34.362 5.40404 32.776C4.39628 31.731 3.72863 30.6369 3.47669 29.6042C3.19956 28.387 3.38851 26.8257 3.95538 25.7438L4.21992 25.2275L3.51448 24.9447C2.69567 24.6251 1.36038 23.4694 0.869096 22.658C0.138465 21.4286 -0.151267 19.7689 0.0754802 18.0354C0.277033 16.4495 0.604557 15.6873 1.44856 14.8635C2.54451 13.7817 3.19956 13.585 5.55521 13.585C6.9031 13.585 7.7597 13.6587 8.51552 13.8186C10.0776 14.1382 13.3654 15.2324 15.3809 16.1053C16.3509 16.511 17.2327 16.8921 17.3335 16.929C17.4343 16.9781 16.6154 16.093 15.5069 14.9865C11.1861 10.6467 9.24616 7.38875 9.42251 4.74552C9.54849 2.9137 10.72 1.64741 13.189 0.663883C14.7259 0.0491753 16.1871 -0.12294 17.4846 0.135235Z" fill="%23CEA35D"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}
.popular img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.press {
  background-color: #F3EDE2;
  padding: 60px 0 270px 0;
  position: relative;
}
.press__bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.press__bg img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.press .container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  position: relative;
  gap: 24px;
}
.press__info {
  width: 45%;
  text-align: center;
}
.press__info h2 {
  color: var(--gold-color);
}
.press__box {
  position: relative;
  z-index: 10;
  background: #F3EDE2;
  box-shadow: 12px 20px 40px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 45%;
}
.press__box h3 {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 133.333% */
  text-transform: uppercase;
}

.friends {
  background: var(--main-color);
  padding-top: 120px;
}
.friends__text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.friends h2 {
  color: var(--gold-color);
}
.friends p {
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 70%;
  margin-top: 16px;
}
.friends__img div {
  width: 50%;
}
.friends__img img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}

.footer {
  background: var(--main-color);
  padding: 48px 0px 24px 0px;
}
.footer__info {
  justify-content: space-between;
}
.footer__info h3 {
  color: var(--white-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-bottom: 16px;
}
.footer__info ul a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.footer__info a {
  color: var(--white-color);
}
.footer__cop {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--white-color);
}
.footer__nav {
  gap: 36px;
}
.footer__nav ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__down {
  text-decoration-line: underline;
}
.footer__icons {
  gap: 16px;
}

@media screen and (max-height: 700px) {
  .hero img {
    height: 300px;
  }
}
@media screen and (max-width: 900px) {
  .nav-burger {
    display: flex !important;
    flex-direction: column;
    float: right;
    gap: 8px;
  }
  .nav-burger span {
    transition: all 0.3s ease;
    background: var(--white-color);
    display: block;
    height: 3px;
    width: 40px;
  }
  header .container {
    display: block;
  }
  .nav {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 0px 0px;
  }
  .about__info {
    width: 100%;
    margin-bottom: 120px;
  }
  .about__text {
    width: 100%;
  }
  .about__img {
    position: relative;
    width: 100%;
  }
  .about__img img {
    display: block;
  }
  .about::before {
    top: -50px;
  }
  .role__wrapp {
    width: 90%;
  }
  .drink {
    padding: 280px 0px;
    background-position: 100%;
  }
  .drink__box {
    width: 90%;
  }
  .friends__img {
    flex-wrap: wrap;
  }
  .friends__img div {
    width: 100%;
  }
  .friends__text {
    width: 80%;
  }
  .press__info {
    width: 90%;
  }
  .press__box {
    width: 90%;
  }
  .footer__info {
    flex-direction: column;
    gap: 34px;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    order: 2;
    text-align: center;
  }
  .footer__icons {
    justify-content: center;
  }
  .footer__logo {
    order: 1;
  }
  .footer__logo img {
    margin: 0 auto;
    display: block;
  }
  .footer__icons {
    order: 3;
  }
  .footer__cop {
    margin-top: 32px;
  }
  .logo-mob {
    display: inline-block;
  }
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
  }
  .role__img img {
    height: 250px;
  }
  .drink__box {
    width: 100%;
    padding: 24px;
  }
  .drink__box hr {
    background-repeat: no-repeat;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .friends {
    padding-top: 96px;
  }
  .friends__text {
    width: 100%;
  }
  .friends p {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */