.about {
    position: relative;
    padding: 96px 0px;
    background-image: url('/img/bg-2.png');
    // background-repeat: no-repeat;
    overflow: hidden;
    &::before{
        content:'';
        display: block;
        position: absolute;
        top: -15%;
        left: -10%;
        z-index: 10;
        width: 545px;
        height: 574px;
        transform: rotate(35deg);
        background-image: url('data:image/svg+xml;utf8,<svg width="318" height="484" opacity="0.1" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Vector" d="M22.1472 0.172115C23.4078 0.438114 24.8598 1.15788 25.8331 2.03411L26.6948 2.80082L27.3809 2.11235C28.6255 0.876232 30.8115 0 32.7262 0C34.7527 0 38.1514 1.26741 39.6672 2.61305C43.3212 5.83633 41.199 11.5006 33.3964 19.3397C31.6093 21.1548 31.2423 21.5772 31.6891 21.3895C31.9923 21.2643 33.1571 20.7636 34.258 20.2942C36.8111 19.1989 40.0502 18.1193 42.2202 17.6655C44.4382 17.1804 47.9007 17.1335 49.2251 17.5716C51.8259 18.4322 53.0227 20.2942 53.1822 23.7365C53.3737 27.4762 52.0174 30.0892 49.1772 31.5444C48.5549 31.8573 48.0283 32.139 47.9964 32.1546C47.9645 32.1859 48.0922 32.4832 48.2677 32.8431C49.1453 34.5017 49.257 36.6453 48.5708 38.4604C47.6613 40.8857 44.9966 43.5769 42.7947 44.2811C41.9649 44.5471 40.2257 44.5158 39.3641 44.2028C35.8218 42.9824 31.9284 38.1474 28.418 30.6682C27.9234 29.5885 27.4288 28.634 27.349 28.5558C27.1575 28.3837 27.3011 31.9669 27.5564 34.0323C28.1468 38.8046 29.9498 44.2185 32.2795 48.2711C33.3166 50.0705 34.9601 52.4801 35.8537 53.5285C36.2047 53.9353 36.476 54.4047 36.476 54.5924C36.476 55.1557 35.6782 55.8755 34.9282 55.9694C34.274 56.0476 34.274 56.0476 33.5241 55.0619C32.2954 53.4189 31.0508 51.3535 29.9179 49.0534C28.5297 46.2526 27.8277 44.328 27.0618 41.402C26.1842 37.991 25.881 35.5813 25.865 31.8104C25.865 30.0736 25.8172 28.6966 25.7693 28.7592C25.7214 28.8218 25.2268 29.8076 24.6843 30.9655C22.5461 35.4874 20.1527 39.1645 17.9028 41.3707C15.637 43.6239 14.0733 44.4532 12.0788 44.4532C10.164 44.4532 8.79179 43.7334 6.84512 41.715C5.56862 40.385 4.72293 38.9924 4.40381 37.678C4.05277 36.129 4.29211 34.1418 5.01015 32.7649L5.34523 32.1077L4.45168 31.7478C3.41452 31.341 1.72315 29.8702 1.10085 28.8375C0.175389 27.2728 -0.191605 25.1604 0.0956082 22.9542C0.350909 20.9357 0.765772 19.9656 1.83484 18.9172C3.22304 17.5403 4.05277 17.29 7.0366 17.29C8.74392 17.29 9.82895 17.3838 10.7863 17.5873C12.7649 17.9941 16.9295 19.3867 19.4825 20.4976C20.7111 21.0139 21.8281 21.499 21.9557 21.5459C22.0834 21.6085 21.0462 20.4819 19.6421 19.0737C14.1691 13.5503 11.7118 9.40386 11.9352 6.03975C12.0947 3.70834 13.5787 2.0967 16.7061 0.84494C18.6528 0.0625877 20.5037 -0.156471 22.1472 0.172115Z" fill="%23064833"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__info {
        width: 50%;

        h2 {
            color: var(--main-color);
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        h2:before {
            content: "";
            display: inline-block;
            width: 53.2px;
            height: 56px;
            background-image: url('data:image/svg+xml;utf8,<svg width="54" height="56" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Vector" d="M22.1472 0.172115C23.4078 0.438114 24.8598 1.15788 25.8331 2.03411L26.6948 2.80082L27.3809 2.11235C28.6255 0.876232 30.8115 0 32.7262 0C34.7527 0 38.1514 1.26741 39.6672 2.61305C43.3212 5.83633 41.199 11.5006 33.3964 19.3397C31.6093 21.1548 31.2423 21.5772 31.6891 21.3895C31.9923 21.2643 33.1571 20.7636 34.258 20.2942C36.8111 19.1989 40.0502 18.1193 42.2202 17.6655C44.4382 17.1804 47.9007 17.1335 49.2251 17.5716C51.8259 18.4322 53.0227 20.2942 53.1822 23.7365C53.3737 27.4762 52.0174 30.0892 49.1772 31.5444C48.5549 31.8573 48.0283 32.139 47.9964 32.1546C47.9645 32.1859 48.0922 32.4832 48.2677 32.8431C49.1453 34.5017 49.257 36.6453 48.5708 38.4604C47.6613 40.8857 44.9966 43.5769 42.7947 44.2811C41.9649 44.5471 40.2257 44.5158 39.3641 44.2028C35.8218 42.9824 31.9284 38.1474 28.418 30.6682C27.9234 29.5885 27.4288 28.634 27.349 28.5558C27.1575 28.3837 27.3011 31.9669 27.5564 34.0323C28.1468 38.8046 29.9498 44.2185 32.2795 48.2711C33.3166 50.0705 34.9601 52.4801 35.8537 53.5285C36.2047 53.9353 36.476 54.4047 36.476 54.5924C36.476 55.1557 35.6782 55.8755 34.9282 55.9694C34.274 56.0476 34.274 56.0476 33.5241 55.0619C32.2954 53.4189 31.0508 51.3535 29.9179 49.0534C28.5297 46.2526 27.8277 44.328 27.0618 41.402C26.1842 37.991 25.881 35.5813 25.865 31.8104C25.865 30.0736 25.8172 28.6966 25.7693 28.7592C25.7214 28.8218 25.2268 29.8076 24.6843 30.9655C22.5461 35.4874 20.1527 39.1645 17.9028 41.3707C15.637 43.6239 14.0733 44.4532 12.0788 44.4532C10.164 44.4532 8.79179 43.7334 6.84512 41.715C5.56862 40.385 4.72293 38.9924 4.40381 37.678C4.05277 36.129 4.29211 34.1418 5.01015 32.7649L5.34523 32.1077L4.45168 31.7478C3.41452 31.341 1.72315 29.8702 1.10085 28.8375C0.175389 27.2728 -0.191605 25.1604 0.0956082 22.9542C0.350909 20.9357 0.765772 19.9656 1.83484 18.9172C3.22304 17.5403 4.05277 17.29 7.0366 17.29C8.74392 17.29 9.82895 17.3838 10.7863 17.5873C12.7649 17.9941 16.9295 19.3867 19.4825 20.4976C20.7111 21.0139 21.8281 21.499 21.9557 21.5459C22.0834 21.6085 21.0462 20.4819 19.6421 19.0737C14.1691 13.5503 11.7118 9.40386 11.9352 6.03975C12.0947 3.70834 13.5787 2.0967 16.7061 0.84494C18.6528 0.0625877 20.5037 -0.156471 22.1472 0.172115Z" fill="%23064833"/></svg>');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__text {
        width: 90%;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;

        img {
            height: 100%;
            position: relative;
            width: 100%;
            object-fit: cover;
        }
    }
}

.hidden {
    display: none;

div.red {
  background: red;
}
  }