:root {
    --main-color:#064833;
    --white-color:#ffff;
    --gold-color:#CEA35D;
}


* {
    box-sizing: border-box;
}
body {
    font-family: 'Queen of Clubs', sans-serif;
          position: relative;                                      
}
.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    text-decoration: none;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
h2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;  
}
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto-fill, 2fr);
}