// @media (hover: hover) {
    
// }
@media screen and (max-height: 700px) {
    .hero {
        img {
            height: 300px;
        }
    }
}
@media screen and (max-width: 900px) {
    .nav-burger{
        display: flex!important;
        flex-direction: column;
        float: right;
        gap: 8px;
        position: relative;
            span {
                transition: all 0.3s ease;
                background: var(--white-color);
                display: block;
                height: 3px;
                width: 40px;
            }
    }
    header {
        .container {
            display: block;
        }
    }
    .nav {
        display:none;
    }
    .about {
        display: flex;
        flex-direction: column;
        padding: 120px 0px 0px 0px;
        &__info {
            width: 100%;
            margin-bottom: 120px;
        }
        &__text {
            width: 100%;
        }
        &__img {
            position:relative;
            width: 100%;
            img {
                display: block;
            }
        }
        &::before {
            top:-50px;
        }
    }
    .role {
        &__wrapp {
            width: 90%;
        }
    }
    .drink {
        padding: 280px 0px;
        background-position: 100%;
        &__box {
            width:90%;
        }
    }
    .friends {
        &__img {
            flex-wrap: wrap;
            div {
                width: 100%;
            }
        }
        &__text {
            width: 80%;
        }
    }
    .press {
        &__info {
            width: 90%;
        }
        &__box {
            width: 90%;
        }
    }
    .footer {
        &__info {
            flex-direction:column;
            gap: 34px;
        }
        &__nav {
            flex-direction: column;
            align-items:center;
            order: 2;
            text-align: center;
        }
        &__icons {
            justify-content: center;
        }
        &__logo {
            order: 1;
            img {
                margin: 0 auto;
                display: block;
            }
        }
        &__icons {
            order: 3;
        }
        &__cop {
            margin-top: 32px;
        }
    }
    .logo-mob {
        display: inline-block;
    }
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
    }
    
    .role {
        &__img {
            img {
                height:250px;
            }
        }
    }
    .drink {
        &__box {
            width:100%;
            padding: 24px;
            hr {
                background-repeat:no-repeat;
            }
        }
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .friends {
        padding-top: 96px;
        &__text {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
 }