.popular {
    padding-top: 120px;
    text-align: center;
    background:var(--main-color);

    h2 {
        color:var(--gold-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        gap: 16px;
        margin-bottom: 48px;
    }
    h2:before {
        content:'';
        display: inline-block;
        width:42px;
        height:44px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="44" viewBox="0 0 42 44" fill="none">  <path d="M17.4846 0.135235C18.4798 0.344234 19.6261 0.909767 20.3946 1.59824L21.0748 2.20065L21.6165 1.6597C22.5991 0.688469 24.3249 0 25.8365 0C27.4363 0 30.1195 0.995819 31.3162 2.05311C34.201 4.58569 32.5256 9.03615 26.3656 15.1955C24.9547 16.6216 24.665 16.9535 25.0177 16.806C25.257 16.7077 26.1766 16.3143 27.0458 15.9454C29.0614 15.0848 31.6186 14.2366 33.3318 13.88C35.0828 13.4989 37.8163 13.462 38.8619 13.8063C40.9152 14.4824 41.86 15.9454 41.986 18.6501C42.1371 21.5884 41.0664 23.6415 38.8241 24.7849C38.3328 25.0308 37.9171 25.2521 37.8919 25.2643C37.8667 25.2889 37.9675 25.5225 38.1061 25.8053C38.7989 27.1085 38.8871 28.7928 38.3454 30.2189C37.6274 32.1244 35.5237 34.239 33.7853 34.7923C33.1302 35.0013 31.7571 34.9767 31.0769 34.7308C28.2803 33.7719 25.2067 29.973 22.4353 24.0964C22.0448 23.2481 21.6543 22.4982 21.5913 22.4367C21.4401 22.3015 21.5535 25.1168 21.7551 26.7396C22.2211 30.4893 23.6446 34.7431 25.4838 37.9273C26.3026 39.3411 27.6001 41.2344 28.3055 42.0581C28.5827 42.3777 28.7968 42.7465 28.7968 42.8941C28.7968 43.3367 28.167 43.9022 27.5749 43.9759C27.0584 44.0374 27.0584 44.0374 26.4664 43.2629C25.4964 41.972 24.5138 40.3492 23.6194 38.542C22.5235 36.3413 21.9692 34.8291 21.3645 32.5302C20.6717 29.85 20.4324 27.9568 20.4198 24.9939C20.4198 23.6292 20.382 22.5474 20.3442 22.5965C20.3064 22.6457 19.9159 23.4202 19.4876 24.33C17.7996 27.883 15.91 30.7721 14.1338 32.5056C12.345 34.2759 11.1105 34.9275 9.53589 34.9275C8.02424 34.9275 6.94089 34.362 5.40404 32.776C4.39628 31.731 3.72863 30.6369 3.47669 29.6042C3.19956 28.387 3.38851 26.8257 3.95538 25.7438L4.21992 25.2275L3.51448 24.9447C2.69567 24.6251 1.36038 23.4694 0.869096 22.658C0.138465 21.4286 -0.151267 19.7689 0.0754802 18.0354C0.277033 16.4495 0.604557 15.6873 1.44856 14.8635C2.54451 13.7817 3.19956 13.585 5.55521 13.585C6.9031 13.585 7.7597 13.6587 8.51552 13.8186C10.0776 14.1382 13.3654 15.2324 15.3809 16.1053C16.3509 16.511 17.2327 16.8921 17.3335 16.929C17.4343 16.9781 16.6154 16.093 15.5069 14.9865C11.1861 10.6467 9.24616 7.38875 9.42251 4.74552C9.54849 2.9137 10.72 1.64741 13.189 0.663883C14.7259 0.0491753 16.1871 -0.12294 17.4846 0.135235Z" fill="%23CEA35D"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
    }
    img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
}