.role {
    padding: 120px 0px;
    background:var(--main-color);
    .container {
        justify-content: center;
    }
    hr {
        width: 100%;
        margin: 0px;
        height: 2px;
        border:none;
        background:var(--gold-color);
    }
    .line-1 {
        margin-bottom: 2px;
    }
    h2 {
        color:var(--gold-color);
        margin-bottom: 16px;
    }
    &__wrapp {
        width: 50%;
        flex-direction: column;
        text-align: center;
        img {
            height: 380px;
            object-fit: contain;
        }
    }
    &__text {
        padding: 24px 0px;

        p {
            color:var(--white-color);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; 
        }
    }
}